<h1>Stupid Coaching</h1>
<h4>Ask your coach anything:</h4>

<div>
  <form action="/answer" method="get">
    <input type="text" name="question" placeholder="What's your question ?">
    <input id="submit-btn" type="submit" value="Ask!">
  </form>
</div>
